body {
    background-image: url(./assets/images/bg.jpg);
  background-size: cover;
  margin-inline: 150px;
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
header {
    text-align: left;
}
header img {
    width: 20%;
    margin-top: 40px;
    
}

.title {
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
}

main h1 {
    font-size: 4rem;
    margin-bottom: 0px;
    margin-top: 150px;
}
main h3 {
    font-size: 2rem;
    font-weight: 300;
}
main p {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 40px;
    font-size: 1.9rem;
    line-height: 7rem;
}

div img {
    margin-right: 24px;
}
textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
    border-bottom: 2px solid #ff00e7;
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 1rem;
}
