body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  margin-inline: 150px;
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.LogoContainerResultPage img {
  width: 15%;
  margin-top: 32px;
  display: block;
  text-align: start;
}

.mainResultPage {
  width: auto;
  margin-bottom: 30px;
  min-height: 400px;
}
.result {
  display: block;
  text-align: center;
}

#titleResultPage {
  font-size: 3rem;
  line-height: 0.7;
  margin: 1rem;
  margin-top: 2rem;
}

.parResultPage {
  font-size: xx-large;
  margin-top: -7px;
  font-size: 27px;
}

.container {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.container,
div {
  width: 100%;
  align-items: center;
}
.first {
  text-align: start;
}
.third {
  text-align: end;
}
#spanQues {
  font-weight: 100;
  font-size: 60px;
}
#resQuest span {
  font-weight: 300;
}

#bottoneRateUs {
  display: block;
  text-align: center;
  margin-top: 13px;
}
.rateUs {
  background-color: transparent;
  color: white;
  padding: 15px 70px;
  border-color: white;
  border: solid 2px;
  box-shadow: 0px 0px 4px white;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.rateUs a {
  text-decoration: none;
  color: white;
}
